/*BACKGROUND IMAGE TO COVER PAGE*/
#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#profile {
  border-radius: 50% !important;
}
h5 {
  font-family: 'Ribeye Marrow', cursive !important;
  font-size: x-large;
}
h4 {
  color: black;
}

.navbar-brand {
  font-family: 'Ribeye Marrow', cursive !important;
  font-size: x-large;
}

#navbarSupportedContent {
  font-family: 'Ribeye Marrow', cursive !important; 
}

.col text-justify {
  font-family: 'Ribeye Marrow', cursive !important;
}
h1 {
  font-family: 'Ribeye Marrow', cursive !important; 
}
#heart {
  color: rgb(255, 204, 213) !important;
}
#contact {
  font-family: 'Ribeye Marrow', cursive !important; 
}
#email {
  font-family: 'Ribeye Marrow', cursive !important; 
  position: center !important; 
}
#submit {
  background-color:  rgb(167, 237, 255) ;
  font-family: 'Ribeye Marrow', cursive !important;
  color: white !important;
  margin-left: 3px;
}
#resume {
  background-color:  rgb(167, 237, 255) ;
  font-family: 'Ribeye Marrow', cursive !important;
  margin-bottom: 5px;
  color: white !important;
}
#linkedin {
  background-color: rgb(255, 204, 213) !important;
  font-family: 'Ribeye Marrow', cursive !important;
  color: rgb(255, 204, 213) !important;
  margin-bottom: 5px;
}
#github {
  background-color:  rgb(167, 237, 255) ;
  font-family: 'Ribeye Marrow', cursive !important;
  color: rgb(255, 204, 213) !important;
  margin-bottom: 5px;
}
/* .card-text {
  font-family: 'Ribeye Marrow', cursive !important; 
} */

footer {
    position: relative;
    left: 0;
    bottom: -2;
    display: block;
    width: 100%;
    height: 2.5rem;    
    background-color:transparent;
    text-align: center;
  }
  .container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    size: small;
    
  }
  form {
    width: 280px;
    font-family: 'Ribeye Marrow', cursive !important;
  } 
  
  /* Social media buttons */
  .fa {
    padding: 20px 10px;
    padding-bottom: 50px;
    width: 50px;
    height: 50px;
    margin: 5px 2px;
    border-radius: 50px; 
  }
 
  .fa-icon {
    background: rgb(255, 204, 213) !important;
    color: white;
    padding-bottom: 5px;
  }

/* // Glowing buttons // */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(235, 190, 190);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-bottom: 8px;
    font-family: 'Ribeye Marrow', cursive !important; 
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(131, 230, 255)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: "";
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
